<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.zzz.auth.mapper.RolePermissionMapper">
    <sql id="tableName">
        t_role_permission
    </sql>

    <sql id="baseColumn">
        id,rid,mid,created_time,modify_time
    </sql>

</mapper>