<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.zzz.per.zzz.auth.mapper.UserMapper">
    <sql id="tableName">
        t_user
    </sql>

    <sql id="baseColumn">
        id,username,avatar,create_date,email,last_login,mobile_phone_number,name,password,status,locked,enabled
    </sql>

</mapper>