<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.zzz.per.zzz.auth.mapper.UserRoleMapper">
    <sql id="tableName">
        t_user_role
    </sql>

    <sql id="baseColumn">
        id,uid,rid,created_time,modify_time
    </sql>

</mapper>